# for data validation and DOM structure
pydantic
# for PDF processing
PyMuPDF
# for image processing(preprocessing)
Pillow
opencv-python
python-docx
openpyxl
python-pptx
python-magic-bin; platform_system == "Windows"
python-magic; platform_system != "Windows"
uuid

# primary OCR engine
paddlepaddle
paddleocr
# for making requests to Ollama
requests
# For graph data structures
networkx
jinja2
cryptography
markdown
xhtml2pdf
python-dotenv
fastapi
uvicorn[standard]
python-multipart
pymongo
motor
PyJWT
passlib[bcrypt]
asyncpg
psycopg2-binary
SQLAlchemy